.header {
  
  width: 100vw;
  height: 15vh;
  background: black;
  -webkit-box-shadow: 3px 16px 25px 2px rgba(255, 130, 67, 1);
  -moz-box-shadow: 3px 16px 25px 2px rgba(255, 130, 67, 1);
  box-shadow: 3px 16px 25px 2px rgba(255, 130, 67, 1);
  border-bottom: 1px rgba(255, 130, 67, 1);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
